header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: wheat;
}

header img {
    height: 100px;
}

header nav a {
    margin-left: 20px;
    color: darkblue;
}